# LLM OPTIMIZATION Tool config file
[general]
Version = "0.0.1"

[llmSettings]
platform =  # e.g., HuggingFace
model =     # e.g., deepseek-ai/DeepSeek-R1

[promptSettings]
mapPath = "inputs/downtown/peak_travel_time.csv"
modelPath = "config/firstLevelExample.py"

[hsSettings]
popSize = 5
iteration = 10

[simSettings]
simulationTime = 600 
totalVehicleNum = 80
totalPassNum = 65
city = "NYC" 



